<style>
  .block { margin: 3em 0 0; }
  .under {
    border-top: 1px solid black;
    padding-top: 1em;
  }
</style>

<div class="letter-head">{{ letter_head }}</div>

<div class="main-content">
  <h1 class="text-center">{% block title %}{% endblock %}</h1>
  <div class="text-center lead">Form {% block form %}{% endblock %}</div>
  <div class="row block">
    <header class="lead">Animal Details</header>
    <div class="col-xs-6">
      <div class="data-field">Name: {{ doc.patient_name }}</div>
      <div class="data-field">Sex: {{ doc.sex }}</div>
      <div class="data-field">Weight: {{ doc.vc_weight }} kg(s)</div>
      <div class="data-field">Age: {{ calculate_age(doc.dob) }} yr(s) (born {{ doc.dob }})</div>
    </div>
    <div class="col-xs-6">
      <div class="data-field">Species: {{ doc.vc_species }}</div>
      <div class="data-field">Breed: {{ doc.vc_breed }}</div>
      <div class="data-field">Colour: {{ doc.vc_color }}</div>
    </div>
  </div>
  <div class="row block">
    <header class="lead">Procedure</header>
    {% block procedure %}{% endblock %}
  </div>
  <div class="row block">
    <div class="under col-xs-7">Signed by</div>
    <div class="under text-center col-xs-4 col-xs-offset-1">Date</div>
  </div>
  {% block additional %}{% endblock %}
</div>
