{% extends "templates/includes/base_pf_form.html" %}

{% block title %}Procedure Consent{% endblock %}
{% block form %}01{% endblock %}

{% block procedure %}
<p class="text-justify">I hereby give permission for the administration of an anaesthetic to the above animal and to the surgical procedure detailed on this form; along with any other procedures that may prove necessary. I understand that all anaesthetic techniques and surgical procedures involve some risk to my animal. I give permission for the nursing staff to administer medications to my pet under the direction of the veterinary surgeons.</p>
<p class="text-justify">I understand that there will be a charge for the treatment which will be paid in full on signing the form or 50% on signing the form and the rest on collection of the pet.</p>
{% endblock %}
